.auth_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center !important;
  background-color: var(--chakra-colors-whiteAlpha-200);
  border-radius: 0.375rem;
  width: 220px;
  height: 64px;
}

/* Ice - #131 */
.dapp-wallet-connect-login, .dapp-extension-login, .dapp-web-wallet-login, .dapp-ledger-login {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.dapp-wallet-connect-login-modal, .dapp-modal-dialog-content, .dapp-modal-dialog-header, .dapp-modal-dialog-content-body {
  background-color: var(--chakra-colors-chakra-body-bg);
  color: var(--chakra-colors-chakra-body-text);
  border-color: var(--chakra-colors-teal-200);
}

.dapp-wallet-connect-login-modal, .dapp-modal-dialog-content, .dapp-modal-dialog-wrapper {
  z-index: 1500;
}

.dapp-core-component__main__card {
  background-color: var(--chakra-colors-chakra-body-bg);
  border: none;
}

.dapp-modal-dialog-close-button {
  background-color: var(--chakra-colors-chakra-body-bg);
  color: var(--chakra-colors-chakra-body-text);
}

.dapp-modal-dialog-close-button:hover {
  background-color: var(--chakra-colors-chakra-body-bg);
  color: var(--chakra-colors-chakra-border-color);
}

.dapp-transaction-toast, .dapp-failed-transaction-status-toast {
  background-color: var(--chakra-colors-chakra-body-bg) !important;
  color: var(--chakra-colors-chakra-body-text);
  border-color: var(--chakra-colors-teal-200);
  border-width: 1px;
}

.dapp-core-component__transactionToast-styles__content .dapp-core-component__transactionToast-styles__right .dapp-core-component__transactionToast-styles__heading .dapp-core-component__transactionToast-styles__close {
  color: var(--chakra-colors-chakra-body-text) !important;
}

.dapp-core-component__main__warning {
  width: 60px;
  height: 60px;
}

.dapp-core-component__customToast-styles__close {
  color: var(--chakra-colors-chakra-body-text);
}