.auth_button.btn.btn-primary {
  box-shadow: none !important;
  border: 0;
  background-color: #ffffff00;
}

.auth_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center !important;
  background-color: var(--chakra-colors-whiteAlpha-200);
  border-radius: 0.375rem;
  width: 220px;
  height: 64px;
}

.auth_wrap:hover{
  background: var(--chakra-colors-whiteAlpha-300);
}

.dapp-core-ui-component.modal{
  /* color: var(--chakra-colors-teal-600); */
  color: #ffffff;
  font-weight: bold;
  margin-top: -700px;
}

.chakra-ui-light .dapp-core-ui-component.modal{
  /* color: var(--chakra-colors-teal-600); */
  color: #ffffff;
}

.chakra-ui-light .dapp-core-ui-component .btn-primary{
  color: var(--chakra-colors-gray-800);
}

.chakra-ui-light .auth_wrap{
  background-color: var(--chakra-colors-gray-100);
}

.chakra-ui-light .auth_wrap:hover{
  background-color: var(--chakra-colors-gray-200);
}

.dapp-core-ui-component .btn-primary:not(:disabled):not(.disabled):active {
  background-color: #ffffff00;
  border-color: #ffffff00;
}

.extension-login_noExtensionButtonWrapper.btn.btn-unlock{
  background-color: #ffffff00;
  border-color: #ffffff00;
  box-shadow: none !important;
}

body.auth_button {
  box-shadow: none !important;
  border: 0;
  width: 230px;
  height: 50px;
}

.dapp-core-modal-active .chakra-portal {
  display: none;
}

.dapp-core-modal-active .dapp-core-ui-component.modal {
  margin-top: -750px;
}

.dapp-core-ui-component .media-body {
  color: #ffffff;
}
