.auth_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center !important;
  background-color: var(--chakra-colors-whiteAlpha-200);
  border-radius: 0.375rem;
  width: 220px;
  height: 64px;
}

.chakra-ui-light .auth_wrap {
  background-color: var(--chakra-colors-gray-200);
}

.auth_button {
  color: var(--chakra-colors-chakra-body-text) !important;
}

/* Ice - #131 */
.dapp-wallet-connect-login,
.dapp-extension-login,
.dapp-web-wallet-login,
.dapp-ledger-login {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.dapp-modal-dialog-content,
.dapp-modal-dialog-header,
.dapp-modal-dialog-content-body {
  background-color: var(--chakra-colors-chakra-body-bg) !important;
  color: var(--chakra-colors-chakra-body-text) !important;
  border-color: var(--chakra-colors-teal-200) !important;
}

.dapp-wallet-connect-login-modal,
.dapp-modal-dialog-content,
.dapp-modal-dialog-wrapper {
  z-index: 1500 !important;
}

.dapp-core-component__main__card {
  background-color: var(--chakra-colors-chakra-body-bg) !important;
  border: none !important;
}

/* START LEDGER STYLING */
.dapp-core-component__main__table {
  color: var(--chakra-colors-chakra-body-text) !important;
  font-weight: 700 !important;
}

thead.dapp-core-component__main__text-black-50 {
  color: var(--chakra-colors-chakra-body-text) !important;
}

.dapp-core-component__dappModalStyles__dappModal {
  padding-top: 0 !important;
}

.dapp-core-component__dappModalStyles__dappModalContent {
  max-width: fit-content !important;
}
/* STOP LEDGER STYLING */

.dapp-modal-dialog-close-button {
  background-color: var(--chakra-colors-chakra-body-bg) !important;
  color: var(--chakra-colors-chakra-body-text) !important;
}

.dapp-modal-dialog-close-button:hover {
  background-color: var(--chakra-colors-chakra-body-bg) !important;
  color: var(--chakra-colors-chakra-border-color) !important;
}

.dapp-transaction-toast,
.dapp-core-component__transactionsToastList-styles__toasts.dapp-core-component__transactionsToastList-styles__toastWrapper {
  background-color: var(--chakra-colors-chakra-body-bg) !important;
  color: var(--chakra-colors-chakra-body-text) !important;
  border-color: var(--chakra-colors-teal-200) !important;
  border-width: 1px !important;
}

.dapp-core-component__transactionToast-styles__content
  .dapp-core-component__transactionToast-styles__right
  .dapp-core-component__transactionToast-styles__heading
  .dapp-core-component__transactionToast-styles__close {
  color: var(--chakra-colors-chakra-body-text) !important;
}

.dapp-core-component__main__warning {
  width: 60px !important;
  height: 60px !important;
}

.dapp-core-component__customToast-styles__close {
  color: var(--chakra-colors-chakra-body-text) !important;
}

.dapp-wallet-connect-login-modal .dapp-modal-dialog-header,
.dapp-ledger-login-container .dapp-modal-dialog-header {
  margin-top: 10px;
}

.dapp-ledger-login-container .dapp-core-component__main__text-danger {
  margin-bottom: 5px;
}

.dapp-modal-dialog-header .dapp-modal-dialog-close-button {
  margin-top: 5px;
}

.dapp-core-component__transactionsToastList-styles__toasts.dapp-core-component__transactionsToastList-styles__toastWrapper {
  position: fixed !important;
}
